
#open-form-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

label {
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#tabel {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#tabel th {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 10px;
}

#tabel td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

#tabel tr:hover {
    background-color: #f5f5f5;
}

#tabel .tengah img {    
    display: block;
    margin: auto;
    width: 110px;
    height: 85px;    
}

#tabel button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    background-color: #dc3545 !important;
    color: #fff;
}

.tambahin {
    padding: 10px 40px !important;
    margin: 0 10px;
    background-color: yellowgreen !important;
}